body{
    background-color: rgb(0 0 0 / 82%);
}
.orden{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-orden{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #00ffff99;
    width: 850px;
    box-shadow: 5px 5px 8px 0px #000000;
}
.campoForm{
    width: 250px;
    margin-bottom: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000c4;
}
.ImputForm{
    text-align: center;
    width: 250px;
    height: 18px;
    border: solid 1px rgb(88, 88, 88);
    border-radius: 8px;
    box-shadow: 2px 3px 3px 0px #525252;
}
.tituloForm{
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.295);
}
.conteinerCampos{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.inputPatente{
    width:150px ;
}
.titulosSecciones{
    /* margin:10pxpx; */
   margin-bottom: 30px;   
}
.seccionForm{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-bottom: 40px;
    border-left: 0.5px solid rgba(119, 119, 119, 0.952);
    border-top: 0.5px solid rgba(119, 119, 119, 0.952);
}
.campoObligatorio{
    color: red;
}
.btnagregarRepuestos{
    width: 70px;
    height: 25px;
    margin:5px;
    margin-top: 0;
    background-color: rgb(255, 255, 60);
    border-radius: 12px;
    box-shadow:  2px 3px 3px 0px #2b2b2b;
    cursor: pointer;
}
.btnagregarRepuestos:hover{
    background-color: rgb(252, 252, 0);
}
.ContenedorListaRepuestos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: bisque;
    margin-top: 5px;
    padding: 20px;
    border-radius: 0px 20px 0px 20px;
    border: 3px solid blue;
    box-shadow: 5px 5px 8px 0px #000000;
}
.ContenedorListaRepuestos h3{
    margin-bottom: 0;
}
.contenedorRepuesto{
    display: flex;
    margin: 10px;
}
.liDeRepuestos{
    word-wrap: break-word;
    max-width: 200px;
    width: 200px;

}
.btnBorrarRepuesto{
    margin-left: 5px;
    width: 70px;
    height: 30px;
    background-color: rgba(255, 14, 14, 0.534);
    cursor: pointer;
}
.btnBorrarRepuesto:hover{
    background-color: rgb(255, 0, 0);
}
.inputACambiar{
    margin-top:40px;
}
.GenerarPDF{
    margin-top: 40px;
    /* margin-left: 50px; */
    width: 210px;
    height: 30px;
    transition: transform 0.3s ease,color 0.3s ease;
    border-radius: 6px;
    border: solid 3px red;
    cursor: pointer;
    box-shadow: 3px 4px 0px 0px #00000093;    box-shadow: 3px 4px 9px 1px #00000061;
    font-size:large;
}
.GenerarPDF:hover{
    transform: scale(1.2); /* Al hacer hover, agranda el botón en un 10% (1.1 veces) */
    background-color: red;
    box-shadow: 5px 5px 8px 0px #00000093;
}
.conjunto{
    display: flex;
}
.imputRepuestoAAcambiar{
    
    width: 170px;
    height: 20px;
}
.inputDescripcion{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    height: 200px;
    text-align:left;
    overflow-wrap: break-word;
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si el contenido excede la altura */
    white-space: pre-wrap; 
    resize: none;
}